{% extends "tem.html"%}
{% block body %}

<div class="panel panel-default">
	
	<meta id="my-meta" data-len="{{ title_columns|length }}" data-id="{{ cur_id }}">

	<div class="panel-heading">
		<h3 class="panel-title"> {{ legend }}  </h3>  
		{% if error == 1%} <p class ="text-center">	<br/> Проверти введенные данные  </p> {% endif %}
		
	</div>

	<form method="post">
	<div class="panel-body">
		{% for title in title_columns %}
		<div class="form-group">
			<label for='{{ loop.index0 }}' > {{ title }} 
				<br/> Текущие значение записи:  {{ current_row[loop.index0] }}  
			</label>
			{% if output_values[loop.index0]["type"] == "select" %}
			{% set outer_loop  = loop %}
			<select class="form-control" id="{{ loop.index0 }}" name='{{ loop.index0 }}'>
				{% for tip in output_values[loop.index0]["values"] %}
					<option value={{ tip[1] }}  
					{% if tip[0] == current_row[outer_loop.index0] %} selected  {% endif %} > {{tip[0]}}  </option>
				{% endfor %}
			</select>
			{% else %}
			<input class="form-control" id='{{ loop.index0 }}' name='{{ loop.index0 }}' 
			type='{{ output_values[loop.index0]['type'] }}' value='{{ current_row[loop.index0]}}'>
			{% endif %}
		</div>
		{% endfor %}
		<button id="save" type="submit" class="btn btn-sm btn-success">Сохранить</button>
		<button id="delete" type="button" class="btn btn-sm btn-danger">Удалить запись и выйти</button>
		<button id="come_back" type="button" class="btn">Вернуться назад</button>
	</div>

	</form>
</div>

{% endblock%}

{% block js %}
<script type="text/javascript">
	$(function(){
		$("button#come_back").on("click", come_back)
		$("button#delete").on("click", delete_row)
	
	})

	function delete_row(){
		var $this = $(this)
		$.post("{{ url_for('delete_row', table=table, id_row=cur_id) }}",
			function(data){
				come_back()	
			}
		)

	}

	function come_back(){
		window.opener.onchildclose()
		window.close()
	}

</script>
{% endblock %}